# Task: Our task is predict the categorization of a persons credit score based on a selection of attributes

In [176]:
# import sklearn
# import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns

 predict the categorization of a persons credit score based on a selection of attr# Task: Our task isibutes

In [177]:
test_url = "https://raw.githubusercontent.com/Harshk10-star/Credit-Score-Classification/466ff436e9a5623cb0b4c778c3fbf5da84d0ae76/test.csv"
test_info = pd.read_csv(test_url, sep=',')
train_url = ""

In [178]:
test_info.duplicated().sum()

0

In [179]:
test_info.drop_duplicates(inplace=True) # removes duplicate rows
#test_info.isna().sum()

In [180]:
test_info

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,9,13.27,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,4,12.27,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,5,11.27,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,1,5.42,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0x25fe5,CUS_0x8600,December,Sarah McBridec,4975,031-35-0942,Architect,20002.88,1929.906667,10,8,29,5,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",33,25,18.31,12.0,_,3571.7,34.780553,NaN,Yes,60.964772,146.48632477751087,Low_spent_Small_value_payments,275.53956951573343
49996,0x25fee,CUS_0x942c,September,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,6,7,2_,"Auto Loan, and Student Loan",20,NaN,11.5,7.0,Good,502.38,27.758522,31 Years and 11 Months,NM,35.104023,181.44299902757518,Low_spent_Small_value_payments,409.39456169535066
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",23,5,13.5,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49998,0x25ff0,CUS_0x942c,November,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,6,7,2_,"Auto Loan, and Student Loan",21,6_,11.5,7.0,Good,502.38,39.139840,32 Years and 1 Months,No,35.104023,97.59857973344877,High_spent_Small_value_payments,463.23898098947717
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",22,5,11.5,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

In [181]:
test_info["Type_of_Loan"].fillna("Not Specified", inplace=True) #fills in rows with null values in the type of loan col with "not specified"

C:\Users\DvirM\AppData\Local\Temp\ipykernel_38696\4178668343.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_info["Type_of_Loan"].fillna("Not Specified", inplace=True) #fills in rows with null values in the type of loan col with "not specified"

In [182]:
#test_info.isna().sum()

In [183]:
test_info.drop(columns=['Name'], inplace=True) #The person's name is not a factor  that affects the outcome of the model so we drop it

In [184]:
#test_info.isna().sum()

In [185]:
#print(test_info.dtypes)

In [186]:
#we format the annual income fields to not include underscores and convert them from objects to float values
test_info['Annual_Income'] = test_info['Annual_Income'].str.replace('_', '') 
test_info['Annual_Income'] = pd.to_numeric(test_info['Annual_Income'], errors='coerce')

In [187]:
#goes through unfilled values in monthly inhand salary and fills it with fields of monthly inhand salary from other people who have a similar income to them
missing_indices = test_info[test_info['Monthly_Inhand_Salary'].isnull()].index
for index in missing_indices:
    annual_income = test_info.loc[index, 'Annual_Income']
    similar_salaries = test_info[(test_info['Annual_Income'] >= annual_income - 10000) & 
                          (test_info['Annual_Income'] <= annual_income + 10000) & 
                          test_info['Monthly_Inhand_Salary'].notnull()]
    if not similar_salaries.empty:
        estimated_salary = similar_salaries['Monthly_Inhand_Salary'].median()
        test_info.loc[index, 'Monthly_Inhand_Salary'] = estimated_salary

In [188]:
#test_info.isna().sum()

ID                             0
Customer_ID                    0
Month                          0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary         49
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [189]:
#Filling all the nan columns with 0
test_info['Num_of_Delayed_Payment'].fillna(0, inplace=True)

C:\Users\DvirM\AppData\Local\Temp\ipykernel_38696\1250647270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_info['Num_of_Delayed_Payment'].fillna(0, inplace=True)

In [190]:
#test_info.isna().sum()
#print(test_info.dtypes)

In [191]:
test_info['Num_of_Loan'] = test_info['Num_of_Loan'].astype(str) # converts vals in column to string
test_info['Num_of_Loan'] = test_info['Num_of_Loan'].str.replace('_', '') # removes underscores from string
test_info['Num_of_Loan'] = pd.to_numeric(test_info['Num_of_Loan'], errors='coerce') # converts string to int value
test_info.loc[test_info['Num_of_Loan'] < 0, 'Num_of_Loan'] = 0 #changes any negative values to 0

(test_info['Num_of_Loan'] < 0).sum()
row_6375 = test_info.iloc[6373]  # Rows are zero-indexed, so row 6375 is at index 6374
#print(row_6375)
#test_info

ID                                                                     0x60b7
Customer_ID                                                        CUS_0xb92b
Month                                                                 October
Age                                                                        24
SSN                                                               501-27-2873
Occupation                                                             Doctor
Annual_Income                                                       10357.485
Monthly_Inhand_Salary                                             1105.781183
Num_Bank_Accounts                                                           9
Num_Credit_Card                                                             7
Interest_Rate                                                              27
Num_of_Loan                                                                 7
Type_of_Loan                Credit-Builder Loan, Mortgage Loan, Debt Conso...
Delay_from_due_date                                                        32
Num_of_Delayed_Payment                                                     18
Changed_Credit_Limit                                                     4.52
Num_Credit_Inquiries                                                      NaN
Credit_Mix                                                                Bad
Outstanding_Debt                                                      2415.22
Credit_Utilization_Ratio                                            37.717649
Credit_History_Age                                      17 Years and 2 Months
Payment_of_Min_Amount                                                     Yes
Total_EMI_per_month                                                114.371075
Amount_invested_monthly                                      94.5965213857898
Payment_Behaviour                              Low_spent_Small_value_payments
Monthly_Balance                                             254.6873458027195
Name: 6373, dtype: object

In [192]:
# Calculate the sum of 'Num_of_Credit_Card' and 'Num_of_Loan' for each row
sum_values = test_info['Num_Credit_Card'] + test_info['Num_of_Loan']
# Fill null values in 'Num_Credit_Inquiries' with the calculated sum
test_info['Num_Credit_Inquiries'].fillna(sum_values, inplace=True)
#test_info.isna().sum()

C:\Users\DvirM\AppData\Local\Temp\ipykernel_38696\165785710.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_info['Num_Credit_Inquiries'].fillna(sum_values, inplace=True)

ID                             0
Customer_ID                    0
Month                          0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary         49
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [193]:
test_info['Credit_History_Age'] = test_info['Credit_History_Age'].str.extract(r'(\d+) Years')
test_info['Credit_History_Age'] = pd.to_numeric(test_info['Credit_History_Age'], errors='coerce')
#test_info.isna().sum()

ID                             0
Customer_ID                    0
Month                          0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary         49
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

test_info.isnan().

In [194]:
test_info['Credit_History_Age'].fillna(0, inplace=True) #filled nan values with 0 (we assume that person either has no credit age or is less than 1 year)
test_info.isna().sum()

C:\Users\DvirM\AppData\Local\Temp\ipykernel_38696\1163485954.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_info['Credit_History_Age'].fillna(0, inplace=True)

ID                             0
Customer_ID                    0
Month                          0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary         49
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [200]:
# Assuming test_info is your DataFrame

# Convert 'Amount_invested_monthly' column to numeric, coercing errors to NaN
test_info['Amount_invested_monthly'] = pd.to_numeric(test_info['Amount_invested_monthly'], errors='coerce')

# Filter out NaN values in 'Amount_invested_monthly'
not_null_investments = test_info.dropna(subset=['Amount_invested_monthly'])

# Iterate through missing indices and fill with median of similar salaries
missing_indices = test_info[test_info['Amount_invested_monthly'].isnull()].index
for index in missing_indices:
    annual_income = test_info.loc[index, 'Annual_Income']
    similar_salaries = not_null_investments[(not_null_investments['Annual_Income'] >= annual_income - 10000) & 
                                             (not_null_investments['Annual_Income'] <= annual_income + 10000)]
    if not similar_salaries.empty:
        estimated_salary = similar_salaries['Amount_invested_monthly'].median()
        test_info.loc[index, 'Amount_invested_monthly'] = estimated_salary

#test_info.isna().sum()

ID                            0
Customer_ID                   0
Month                         0
Age                           0
SSN                           0
Occupation                    0
Annual_Income                 0
Monthly_Inhand_Salary        49
Num_Bank_Accounts             0
Num_Credit_Card               0
Interest_Rate                 0
Num_of_Loan                   0
Type_of_Loan                  0
Delay_from_due_date           0
Num_of_Delayed_Payment        0
Changed_Credit_Limit          0
Num_Credit_Inquiries          0
Credit_Mix                    0
Outstanding_Debt              0
Credit_Utilization_Ratio      0
Credit_History_Age            0
Payment_of_Min_Amount         0
Total_EMI_per_month           0
Amount_invested_monthly      33
Payment_Behaviour             0
Monthly_Balance             562
dtype: int64

In [206]:
test_info['Amount_invested_monthly'].fillna(0, inplace=True) #filled nan values with 0 
#test_info.isna().sum()

C:\Users\DvirM\AppData\Local\Temp\ipykernel_38696\1380914706.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_info['Amount_invested_monthly'].fillna(0, inplace=True) #filled nan values with 0

ID                            0
Customer_ID                   0
Month                         0
Age                           0
SSN                           0
Occupation                    0
Annual_Income                 0
Monthly_Inhand_Salary        49
Num_Bank_Accounts             0
Num_Credit_Card               0
Interest_Rate                 0
Num_of_Loan                   0
Type_of_Loan                  0
Delay_from_due_date           0
Num_of_Delayed_Payment        0
Changed_Credit_Limit          0
Num_Credit_Inquiries          0
Credit_Mix                    0
Outstanding_Debt              0
Credit_Utilization_Ratio      0
Credit_History_Age            0
Payment_of_Min_Amount         0
Total_EMI_per_month           0
Amount_invested_monthly       0
Payment_Behaviour             0
Monthly_Balance             562
dtype: int64

In [208]:
# Drop rows where 'Monthly_Inhand_Salary' is NaN
test_info.dropna(subset=['Monthly_Inhand_Salary'], inplace=True)

# Verify that rows have been deleted
print("Rows with NaN in 'Monthly_Inhand_Salary' column removed.")

# Print the updated DataFrame shape to see the number of rows after deletion
print("Updated DataFrame shape:", test_info.shape)
test_info.isna().sum()

Rows with NaN in 'Monthly_Inhand_Salary' column removed.
Updated DataFrame shape: (49951, 26)

ID                            0
Customer_ID                   0
Month                         0
Age                           0
SSN                           0
Occupation                    0
Annual_Income                 0
Monthly_Inhand_Salary         0
Num_Bank_Accounts             0
Num_Credit_Card               0
Interest_Rate                 0
Num_of_Loan                   0
Type_of_Loan                  0
Delay_from_due_date           0
Num_of_Delayed_Payment        0
Changed_Credit_Limit          0
Num_Credit_Inquiries          0
Credit_Mix                    0
Outstanding_Debt              0
Credit_Utilization_Ratio      0
Credit_History_Age            0
Payment_of_Min_Amount         0
Total_EMI_per_month           0
Amount_invested_monthly       0
Payment_Behaviour             0
Monthly_Balance             561
dtype: int64

In [211]:
# Assuming test_info is your DataFrame

# Convert 'Amount_invested_monthly' column to numeric, coercing errors to NaN
test_info['Monthly_Balance'] = pd.to_numeric(test_info['Monthly_Balance'], errors='coerce')

# Filter out NaN values in 'Amount_invested_monthly'
not_null_investments = test_info.dropna(subset=['Monthly_Balance'])

# Iterate through missing indices and fill with median of similar salaries
missing_indices = test_info[test_info['Monthly_Balance'].isnull()].index
for index in missing_indices:
    annual_income = test_info.loc[index, 'Annual_Income']
    similar_salaries = not_null_investments[(not_null_investments['Annual_Income'] >= annual_income - 10000) & 
                                             (not_null_investments['Annual_Income'] <= annual_income + 10000)]
    if not similar_salaries.empty:
        estimated_salary = similar_salaries['Monthly_Balance'].median()
        test_info.loc[index, 'Monthly_Balance'] = estimated_salary

test_info.isna().sum()

ID                          0
Customer_ID                 0
Month                       0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             4
dtype: int64

In [212]:
# Drop rows where 'Monthly_Inhand_Salary' is NaN
test_info.dropna(subset=['Monthly_Balance'], inplace=True)

# Verify that rows have been deleted
print("Rows with NaN in 'Monthly_Balance' column removed.")

# Print the updated DataFrame shape to see the number of rows after deletion
print("Updated DataFrame shape:", test_info.shape)
test_info.isna().sum()

Rows with NaN in 'Monthly_Balance' column removed.
Updated DataFrame shape: (49947, 26)

ID                          0
Customer_ID                 0
Month                       0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
dtype: int64